* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#contentMenu {
  width: auto;
  margin-left: 0;
  margin-right: auto;
  background: #000;
  padding: 16px 20px;
}

#contentText {
  padding: 8rem;
  text-align: center;
  background-color: #fbaf5e;
}

#contentImage {
  position: relative;
  background-image: url(/images/cover.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 200px;
  padding-top: 115px;
  padding-left: 90px;
}

#contactus {
  margin: 8rem 8rem 8rem 12rem;
  padding: 1rem;
  display: inline-block;
  text-align: left;
  border-radius: 10px;
}

#form {
  margin: 1rem 0 1rem 0;
  text-align: center;
  background-color: #000;
  margin-left: 0;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
}

.image div {
  text-align: center;
  margin-left: 0;
}

.formulario {
  margin: 1rem 0 1rem 0;
  text-align: center;
  border: none;
  color: #fff;
  border-radius: 10px;
}

.content {
  color: #fff;
}

.sectionLeft {
  margin: 0 0 0 20rem;
  background-color: rgba(0, 0, 0, 0.158);
  color: #000;
  align-items: center;
}

.sectionRight {
  float: center;
  padding-right: 12rem;
}

.positionNav {
  width: 0rem;
  margin: 1rem auto 0;
  position: relative;
}

.loginbutton div {
  margin-right: 1px;
  justify-items: right;
  display: flex;
  position: absolute;
  justify-content: right;
  top: -15px;
  z-index: -1;
}

.inputContact {
  padding: 10px 10px 10px 10px;
  margin-top: 4px;
  width: 256px;
}

textarea {
  padding: 10px 20px 20px 10px;
  border-radius: 4px;
  border: none;
  width: 248px;
  margin-top: 4px;
}
input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 12px;
  width: 282px;
}
button {
  margin: 4px 0 4px 0;
  padding: 10px;
  background-color: #000;
  border: none;
  border-radius: 10px;
  width: 21%;
  color: #fff;
}

ul {
  display: flex;
  justify-content: center;
  justify-items: space-around;
  position: relative;
}

li {
  list-style: none;
  display: inline;
  margin: 0px;
}

li a {
  color: #fff;
  text-decoration: none;
  padding: 12px 16px;
  margin: 0px;
  background: #000;
  /* para arredondar canto: */
  border-radius: 8px;
}
li a:hover {
  /*mudar a cor quando passa o mouse*/
  background: #fbaf5e;
  color: #000;
  border-color: #000;
}

body {
  background-color: #fbaf5e;
}
footer {
  color: #fff;
  background: #000;
  padding: 16px;
  text-align: center;
  font-size: x-small;
}

span {
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em #000;
}

h1 {
  padding-top: 1rem;
  text-align: center;
}
h2 {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  margin-top: 1.5rem;
  text-align: justify;
}
img {
  text-align: center;
}
figure {
  margin: 1.5rem;
  padding: 1.5rem;
}
figcaption {
  padding-top: 1rem;
  font-variant: bold;
  font-style: bold;
  font: bold;
  font-family: bold;
}
